<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CanIAsk</display-name>
  <welcome-file-list>
    <welcome-file>views/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SpeechToText</display-name>
    <servlet-name>SpeechToText</servlet-name>
    <servlet-class>com.caniask.servlet.SpeechToText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpeechToText</servlet-name>
    <url-pattern>/SpeechToText</url-pattern>
  </servlet-mapping>
</web-app>